@font-face {
    /*    font-family: '8-bit_pusab';*/
    /*IE*/
    /*    src: url('../fonts/8-bit_pusab.ttf');*/
    /*Non-IE*/
    /*    src: url('../fonts/8-bit_pusab.ttf') format('truetype');*/
}

.icons-only {
    padding: 0 !important;
}

.footer {
    height: 25px;
}

#menu-top {
    font-size: 1.5em;
}

.back-color {
    background-color: gainsboro;
}

.panel-color {
    background-color: whitesmoke;
}

#main {
    background-color: black;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media only screen and (max-width: 1250px) {
    #main {
        overflow: scroll;
        resize: vertical;
        height: 50%;
    }

    #infos {
        grid-template-columns: 75px 30em 75px 30em !important;
    }
}

#thumbnail {
    overflow: hidden;
    width: 1280px;
    height: 720px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80px 545px 95px;
}

.section-banner {
    grid-row-start: 1;
    grid-row-end: 1;
    z-index: 2;
    display: contents;
}

.banner {
    z-index: 1;
    text-align: center;
    font-size: 2.75em;
    display: flex;
}

.banner > span {
    margin: auto;
}

.character,
.character > img {
    width: 100%;
    overflow: hidden;
}

#char-j1,
#char-j2 {
    filter: drop-shadow(-11px 0px 5px black);
    margin-top: 80px;
}

#char-j1.reverse,
#char-j2.reverse {
    filter: drop-shadow(11px 0px 5px black);
}

#char-j1:hover,
#char-j2:hover {
    cursor: url(../img/mouse/cursor-click.png) 14 0, pointer;
    -webkit-filter: drop-shadow(1px 1px 10px black) drop-shadow(-1px -1px 5px black);
    filter: drop-shadow(1px 1px 10px black) drop-shadow(-11px -1px 5px black);
}

#banner-j1:hover,
#banner-j2:hover,
#phase:hover,
#phase2:hover {
    cursor: url(../img/mouse/cursor-click.png) 14 0, pointer;
    -webkit-filter: drop-shadow(0px 0px 5px black) drop-shadow(0px 0px 5px black);
    filter: drop-shadow(0px 0px 5px black) drop-shadow(0px 0px 5px black);
}

#char-j1:hover.reverse {
    -webkit-filter: drop-shadow(1px 1px 10px black) drop-shadow(-1px -1px 5px black);
    filter: drop-shadow(1px 1px 10px black) drop-shadow(11px -1px 5px black);
}

/* z-index sur la grid */
#banner-j1,
#banner-j2 {
    background-color: white;
    grid-row-start: 1;
    grid-row-end: 1;
    z-index: 2;
}

.tag-j1,
.tag-j2 {
    display: grid;
    grid-template-columns: 175px 72%;
    grid-template-rows: auto;
    margin: unset !important;
}

.tag-j2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
}

.tag-j1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

.buttons-rotate {
    display: flex;
    justify-content: center;
}

#rotate-left {
    transform: rotate(-15deg);
}

#rotate-right {
    transform: rotate(15deg);
}

.rotate-left {
    transform: rotate(-5deg) translate(0px, 25px);
    margin: 0px -5px;
}

.rotate-right {
    transform: translate(0px, 25px) rotate(5deg);
    margin: 0px -5px;
}

#banner-j1,
#section-j1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

#banner-j2,
#section-j2 {
    grid-column-start: 2;
    grid-column-end: 4;
}

#div-j1,
#div-j2 {
    grid-row-start: 1;
    grid-row-end: 4;
}

#div-j1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

#div-j2 {
    grid-column-start: 2;
    grid-column-end: 4;
}

/* type phase */
#phase {
    background-color: white;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

#phase2 {
    background-color: white;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
}

#versus {
    pointer-events: none;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    z-index: 2;
    text-shadow: 0px 0px 20px white, 0px 0px 20px white, 0px 0px 20px white;
    font-size: 5em;
}

#dom-wrap-haut {
    pointer-events: none;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    z-index: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#dom-wrap-bas {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    z-index: 2;
    text-align: center;
}

#logo_haut {
    margin: 0 auto auto auto;
}

#logo_bas {
    margin: auto auto 0 auto;
}

.logo {
    max-width: 250px;
    max-height: 250px;
}

.logo > img {
    max-width: 100%;
    max-height: 100%;
}

/* sélections infos */
#infos {
    display: grid;
    grid-template-columns: 100px 1fr 100px 1fr;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    margin: auto;
    overflow: scroll auto;
}

#infos > span {
    font-size: 12px;
}

/* sélections perso */
.select-char {
    width: 100%;
    margin: 5px auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(13, 45px);
    grid-template-rows: repeat(6, 45px);
}

.stocks,
.color-stocks,
.reserved {
    width: 100%;
    height: 100%;
}

.stocks:hover,
.color-stocks:hover,
.selected {
    border: 3px outset;
}

/* couleur */
.select-color {
    width: 100%;
    text-align: center;
    margin: auto;
}

.select-color .stocks,
.select-color .color-stocks {
    width: 50px;
    height: 50px;
}

/* reverse */
.reverse {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

/* select phase */
#select_phase {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 5;
}

#type_phase {
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

/* select logos */

#select_logo_bas {
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 6;
}

#select_logo_haut {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 6;
}

/* select color background */
#form_background_color_j1,
#form_background_color_j2 {
    text-align: center;
    padding-top: 5px;
    width: 50%;
    margin: auto;
}

#color-background-j1,
#color-background-j2,
.center {
    text-align: center;
}

#color-background-j1,
#color-background-j2,
.margin-auto {
    margin: auto;
}

.background-j1-1 {
    background-image: linear-gradient(to bottom left, #d41619, #f66e25);
}

.background-j2-1 {
    background-image: linear-gradient(to bottom right, #d41619, #f66e25);
}

.background-j1-2 {
    background-image: linear-gradient(to bottom left, #0049b9, #0086ea);
}

.background-j2-2 {
    background-image: linear-gradient(to bottom right, #0049b9, #0086ea);
}

.background-j1-3 {
    background-image: linear-gradient(to bottom left, #e39802, #ffc603);
}

.background-j2-3 {
    background-image: linear-gradient(to bottom right, #e39802, #ffc603);
}

.background-j1-4 {
    background-image: linear-gradient(to bottom left, #038223, #1cc13e);
}

.background-j2-4 {
    background-image: linear-gradient(to bottom right, #038223, #1cc13e);
}

.background-j1-5 {
    background-image: linear-gradient(to bottom left, #a24a11, #ff6e36);
}

.background-j2-5 {
    background-image: linear-gradient(to bottom right, #a24a11, #ff6e36);
}

.background-j1-6 {
    background-image: linear-gradient(to bottom left, #0cb7b0, #63c7e3);
}

.background-j2-6 {
    background-image: linear-gradient(to bottom right, #0cb7b0, #63c7e3);
}

.background-j1-7 {
    background-image: linear-gradient(to bottom left, #df2c87, #b17084);
}

.background-j2-7 {
    background-image: linear-gradient(to bottom right, #df2c87, #b17084);
}

.background-j1-8 {
    background-image: linear-gradient(to bottom left, #552ead, #726eba);
}

.background-j2-8 {
    background-image: linear-gradient(to bottom right, #552ead, #726eba);
}
