@font-face {
    font-family: '8-bit_pusab';
    /*IE*/
    /*    src: url('../fonts/ie/dfgothic-su-wing-rksj-h-webfont.eot');*/
    /*Non-IE*/
    src: url('../fonts/8-bit_pusab.ttf') format('truetype');
}

#thumbnail {
    width: 1280px;
    height: 720px;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80px 545px 95px;
}

.banner {
    text-align: center;
    font-family: '8-bit_pusab';
    font-size: 2.5em;
    border: 1px solid lightgray;
    display: flex;
}

.banner > span {
    margin: auto;
}

.character,
.character > img {
    width: 100%;
    /* height: 100%; */
    overflow: hidden;
    border: 1px solid red
}
