@font-face {
    font-family: '8-bit_pusab';
    /*IE*/
    /*    src: url('../fonts/ie/dfgothic-su-wing-rksj-h-webfont.eot');*/
    /*Non-IE*/
    src: url('../fonts/8-bit_pusab.ttf') format('truetype');
}

#main {
    position: relative;
    margin-bottom: 10px;
}

#thumbnail {
    overflow: hidden;
    border: 1px solid black;
    width: 1280px;
    height: 720px;
    /*    margin: auto;*/
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80px 545px 95px;
}

.banner {
    text-align: center;
    font-family: '8-bit_pusab';
    font-size: 2.75em;
    display: flex;
}

.banner > span {
    margin: auto;
}

.character,
.character > img {
    width: 100%;
    /* height: 100%; */
    overflow: hidden;
    /*    border: 1px solid red*/
}

#char-j1,
#char-j2 {
    margin-top: 80px;
}

/* z-index sur la grid */
#banner-j1,
#banner-j2 {
    background-color: white;
    grid-row-start: 1;
    grid-row-end: 1;
    z-index: 2;
}

.rotate-j1 {
    transform: rotate(-5deg) translate(-20px, 25px);
    width: 105%;
}

.rotate-j2 {
    transform: translate(-20px, 25px) rotate(5deg);
    width: 105%;
}

#banner-j1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

#banner-j2 {
    grid-column-start: 2;
    grid-column-end: 4;
}

#div-j1,
#div-j2 {
    grid-row-start: 1;
    grid-row-end: 3;
}

#div-j1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

#div-j2 {
    grid-column-start: 2;
    grid-column-end: 4;
}

#phase {
    background-color: white;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

#phase2 {
    background-color: white;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
}

#versus {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    z-index: 2;
    text-shadow: 0px 0px 20px white, 0px 0px 20px white, 0px 0px 20px white;
    font-size: 5em;
}

#logo_haut {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    z-index: 2;
    text-align: center;
    margin: 0 auto auto auto;
}

#logo_bas {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    z-index: 2;
    margin: auto auto 0 auto;
}

.logo {
    max-width: 250px;
    max-height: 250px;
}

.logo > img {
    max-width: 100%;
    max-height: 100%;
}

/* sélections infos */
#infos {
    display: grid;
    grid-template-columns: 100px 1fr 100px 1fr;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
    margin: auto;
    width: 75%;
}

#infos > span {
    font-size: 12px;
}

/* sélections perso */
.select-char {
    margin: 5px auto;
    display: grid;
    /*    grid-gap: 5px;*/
    grid-template-columns: repeat(13, 45px);
    grid-template-rows: repeat(6, 45px);
}

.stocks,
.color-stocks,
.reserved {
    width: 100%;
    height: 100%;
}

.stocks:hover,
.color-stocks:hover,
.selected {
    border: 3px outset;
}

/* couleur */
.select-color {
    margin: auto;
}

.select-color .stocks,
.select-color .color-stocks {
    width: 50px;
    height: 50px;
}

/* reverse */
.reverse {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

/* select phase */
#select_phase {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 5;
}

/* select logos */
#select_logo_bas {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 6;
}

#select_logo_haut {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 6;
}

/* select color background */
#color-background-j1,
#color-background-j2,
.center {
    text-align: center;
    margin: auto;
}

.background-j1-1 {
    background-image: linear-gradient(to bottom left, #d41619, #f66e25);
}

.background-j2-1 {
    background-image: linear-gradient(to bottom right, #d41619, #f66e25);
}

.background-j1-2 {
    background-image: linear-gradient(to bottom left, #0049b9, #0086ea);
}

.background-j2-2 {
    background-image: linear-gradient(to bottom right, #0049b9, #0086ea);
}

.background-j1-3 {
    background-image: linear-gradient(to bottom left, #e39802, #ffc603);
}

.background-j2-3 {
    background-image: linear-gradient(to bottom right, #e39802, #ffc603);
}

.background-j1-4 {
    background-image: linear-gradient(to bottom left, #038223, #1cc13e);
}

.background-j2-4 {
    background-image: linear-gradient(to bottom right, #038223, #1cc13e);
}

.background-j1-5 {
    background-image: linear-gradient(to bottom left, #a24a11, #ff6e36);
}

.background-j2-5 {
    background-image: linear-gradient(to bottom right, #a24a11, #ff6e36);
}

.background-j1-6 {
    background-image: linear-gradient(to bottom left, #0cb7b0, #63c7e3);
}

.background-j2-6 {
    background-image: linear-gradient(to bottom right, #0cb7b0, #63c7e3);
}

.background-j1-7 {
    background-image: linear-gradient(to bottom left, #df2c87, #b17084);
}

.background-j2-7 {
    background-image: linear-gradient(to bottom right, #df2c87, #b17084);
}

.background-j1-8 {
    background-image: linear-gradient(to bottom left, #552ead, #726eba);
}

.background-j2-8 {
    background-image: linear-gradient(to bottom right, #552ead, #726eba);
}
